body {
    background-color: #ffffff;
}

.tituloPrincipal {
    padding-left: 20px;
}

/*Bloco principal*/
.principal {
    background-color: #cccccc;
    padding: 30px;
}

p {
    text-align: center;
}

.tituloCentralizado {
    text-align: center;
}

em strong {
    color: red;
}

#missao {
    font-size: 20px;
}

#banner {
    width: 100%;
}

/*Bloco beneficios*/
.beneficios {
    background-color: #ffffff;
    padding: 20px;
}

.itens {
    font-style: italic;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficios {
    width: 50%;
}